.character_info {
  display: flex;
  width: 80%;
  border: solid 1px;
  margin-right: 34px; 
  .character_image {
    width:60%;
    height: 100%;
    margin-right :10px;
  }
  .character-name {
    width: 48px;
    font-size: 11pt;
  }
}