.search_character_sentence {
  text-align: center;
  font-size: 15pt;
  margin-top: 150px;
  font-weight: bold;
}
.popular_characters {
  width: 86%;
  .character_info_wrapper {
    /* position: absolute; */
    border: solid 1px;
    border-radius: 40px;
    width: 80%;
    margin-left: 230px;
    margin-bottom: 80px;
    background-color: white;
    
    .character_info_list {
      display: flex;
      width: 86%;
      list-style: none;
      margin: auto;
      margin-top: 30px;
    }
    .character_info_list2 {
      display: flex;
      width: 86%;
      list-style: none;
      margin: auto;
      margin-top: 30px;
      margin-bottom:30px;
    }
  }
}