body {
  margin: 0; 
}
html {
  /* background-color: antiquewhite; */
  background-image: url('/Users/fujitatoko/問題発見と解決/python_file/webPage/frontend/mysite/public/img/background3.jpeg');
}

.aria-longname {
  font-size: 9.8pt;
}
