.body{
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  
}

.main-search-container {
  position: relative;
}

.photo {
  height: 70vh;
}

.menu-bar {
  position: absolute;
  list-style: none;
  display: flex;
  top: 40px;
  left: 70%;
  
}

.menu-link {
  text-decoration: none;
  color: white;
  border-bottom: none;
  
  
}




.header {
  top: 50px;
  position:absolute;
  font-size:55pt;
  background-color: black;
  color: white;
  width: fit-content;
  padding-left: 100px;
  padding-right: 2%;
  animation: fadeIn 1s ease 0s 1 normal backwards;
}

 
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}


.photo {
  width: 100%;
}

.big-title {
  font-size: 50pt;
  background-color: black;
  color: white;
  width: fit-content;
  padding-left: 100px;
  padding-right: 2%;
  top: 110px;
}
.is-animated-big-title {
  animation: fadeIn 1s ease 0s 1 normal backwards;
}
 
/* @keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
} */

  

.title {
  font-size:35pt;
  background-color: black;
  color: white;
  width: fit-content;
  padding-left: 100px;
  padding-right: 2%;
}
.is-animated-title {
  animation: fadeIn 1s ease 0s 1 normal backwards;
}
 
/* @keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
} */





.subtitle {
  font-weight: bold;
  font-size: 15pt;
  padding-left: 100pt;
}

.sentence {
  font-size: 13pt;
  padding-left: 100pt;
}
.footer {
  position:absolute;
  font-size:55pt;
  background-color: black;
  color: white;
  width: fit-content;
  padding-left: 100px;
  padding-right: 2%;
}
.is-animated-footer {
  animation: fadeIn 1s linear 0s 1 normal backwards;
}