.area_info {
  display: flex;
  width: 80%;
  border: solid 1px;
  border-radius: 5px;
  margin-right: 34px; 
  text-decoration: none;
  &:hover {
    opacity: 0.5;
  }
  .area_image {
    width:65%;
    height: 100px;
    margin-right :10px;
  }
  .area-name {
    width: 48px;
    font-size: 11pt;
  }
}