.search_area {
    // .search_areas {
    //   width: 86%;
    //   margin: auto;
  &__sentence {
    text-align: center;
    font-size: 15pt;
    margin-top: 150px;
    font-weight: bold;
  }
  .areas_container{
    .areas {
      border: solid 1px;
      border-radius: 40px;
      width: 80%;
      margin: auto;
      margin-bottom: 80px;
      background-color: white;
      &_list {
        display: flex;
        justify-content: center;
        width: 1000px;
        list-style: none;
        margin: auto;
        margin-top: 30px;
        margin-bottom:30px;
        &__item {
          width: 300px;
        }
        // .area_info_wrapper {
        //   width: calc((100% / 3));
        //   height: fit-content;
        // }
      }
    }
  }

}