.spaceDetailContainer {
  padding-left: 100px;
  p {
    font-size: 15pt;
  }
  .charactersList {
    // list-style-position: inside;
    // list-style-image: url('/img/image1.jpeg');
    list-style: none;
    padding-left: 0px;
  }
}