.space_rank {
  width: 14%;
  height: 80%;
}
.popular_space {
  &_info {
    display: flex;
    width: 100%;
    border: solid 1px;
    margin-right: 0px;
    background-color: white;
    border-radius: 5px;
  }
  &_image {
    width: 25%;
    height: 100%;
    margin-right: 10px;
  }
}