.search_popular_space_container {
  .search_popular_space_sentence {
    text-align: center;
    font-size: 15pt;
    margin-top: 150px;
    font-weight: bold;
  }
  .popular_space {
    
    &_info_wrapper {
      // border: solid 1px;
      width: 100%;
      left: 3%;
    }
    &_info_list {
      width: 84%;
      list-style: none;
      margin-left: 175px;
    }
    &_item {
      display: flex;
      height: 25%;
      margin-top: 30px;
      height: 23%;
      width: 87%;
    }
  }
}