<html>
  <head>
    <title>template test</title>
    <link rel = "stylesheet" href ="/media/styles/index.css" >
  </head>
  <body>
    <div class = "main-search-container">
      <div class = "header">
        <img class = "photo" src="/media/image1.jpeg/">
        <div class = "menu-container">
          <span class = "title">もんけつ</span>
          <div>
            <ul class = "menu-bar">
              <li class = "menu-start"><a class = "menu-link" href = "/polls">特徴と使い方</a></li>
              <li class = "menu"><a class = "menu-link" href = "/polls">お気に入り</a></li>
              <li class = "menu"><a class = "menu-link" href = "/polls">会員登録/ログイン</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class= "search-box">
        <p class = "search-sentence" >場所、日時から探す</p>
        <input class = "search-criteria" type = "text" />
        <input class = "search-criteria" type = "text" />
        <input class = "search-date" type = "date" />
        <input class = "search-time" type = "time" />
        <button class ="search-button">検索</button>
      </div>
    </div>
    <div class = "search-aria-container">
      <p class = "search-aria-sentence">エリアから探す</p>
      <div class = "popular-arias">
        <div class = "aria-info-wrapper">
          <ul class = "aria-info-list"> 
            <li class='aria-info-item'>
              <a class = "aria-info" href = "/polls">
                <img class = "aria-image" src="/media/image1.jpeg/" />
                <p class = "aria-name">東京</p>
              </a> 
            </li>
            <li class='aria-info-item'>
              <a class = "aria-info" href = "/polls">
                <img class = "aria-image" src="/media/image1.jpeg/" />
                <p class = "aria-name">神奈川</p>
              </a>  
            </li>
            
            <li class='aria-info-item'>
              <a class = "aria-info" href = "/polls">
                <img class = "aria-image" src="/media/image1.jpeg/" />
                <p class = "aria-name">愛知</p>
              </a> 
            </li>
          </ul>
      
          <ul class = "aria-info-list-2"> 
            <li class='aria-info-item'>
              <a class = "aria-info" href = "/polls">
                <img class = "aria-image" src="/media/image1.jpeg/" />
                <p class = "aria-name">大阪</p>
              </a>
            </li>
            <li class='aria-info-item'>
              <a class = "aria-info" href = "/polls">
                <img class = "aria-image" src="/media/image1.jpeg/" />
                <p class = "aria-name">京都</p>
              </a>  
            </li>
              
            <li class='aria-info-item'>
              <a class = "aria-info" href = "/polls">
                <img class = "aria-image" src="/media/image1.jpeg/" />
                <p class = "aria-name">福岡</p>
              </a> 
            </li>
          </ul>
        </div>
      </div>
    </div> 
  </body>
</html>