<html>
  <head>
    <title>template test</title>
    <link rel = "stylesheet" href ="/media/styles/index.css" >
  </head>
  <body>
    <div class = "main-search-container">
      <div class = "header">
        <img class = "photo" src="/media/image2.jpeg/">
        <div class = "menu-container">
          <span class = "title">もんけつ</span>
          <div>
            <ul class = "menu-bar">
              <li class = "menu-start"><a class = "menu-link" href = "/polls">特徴と使い方</a></li>
              <li class = "menu"><a class = "menu-link" href = "/polls">お気に入り</a></li>
              <li class = "menu"><a class = "menu-link" href = "/polls">会員登録/ログイン</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class= "search-box">
        <p class = "search-sentence" >場所、日時から探す</p>
        <input class = "search-criteria" type = "text" />
        <input class = "search-criteria" type = "text" />
        <input class = "search-date" type = "date" />
        <input class = "search-time" type = "time" />
        <button class ="search-button">検索</button>
      </div>
    </div>

    <div class = "about-website">
      <p class = "about-website-headline">フリースタイルとは</p>
      <p class = "about-website-sentence">東京のコワーキングススペースのまとめサイトです。<br>キーワードを検索してあなたにぴったりのコワーキングスペースを見つけましょう。</p>


    <div class = "search-aria-container">
      <p class = "search-aria-sentence">エリアから探す</p>
      <div class = "popular-arias">
        <div class = "aria-info-wrapper">
          <ul class = "aria-info-list"> 
            <li class='aria-info-item'>
              <a class = "aria-info" href = "/polls">
                <img class = "aria-image" src="/media/shibuya.jpeg/" />
                <p class = "aria-name">渋谷</p>
              </a> 
            </li>
            <li class='aria-info-item'>
              <a class = "aria-info" href = "/polls">
                <img class = "aria-image" src="/media/shinnjuku.jpeg/" />
                <p class = "aria-name">新宿</p>
              </a>  
            </li>
            
            <li class='aria-info-item'>
              <a class = "aria-info" href = "/polls">
                <img class = "aria-image" src="/media/ikebukuro.jpeg/" />
                <p class = "aria-name">池袋</p>
              </a> 
            </li>
          </ul>
      
          <ul class = "aria-info-list-2"> 
            <li class='aria-info-item'>
              <a class = "aria-info" href = "/polls">
                <img class = "aria-image" src="/media/tokyo.jpeg/" />
                <p class = "aria-name">東京</p>
              </a>
            </li>
            <li class='aria-info-item'>
              <a class = "aria-info" href = "/polls">
                <img class = "aria-image" src="/media/shinagawa.jpeg/" />
                <p class = "aria-name">品川</p>
              </a>  
            </li>
              
            <li class='aria-info-item'>
              <a class = "aria-info" href = "/polls">
                <img class = "aria-image" src="/media/others.jpeg/" />
                <p class = "aria-name">その他</p>
              </a> 
            </li>
          </ul>
        </div>
      </div>
    </div> 

    <div class = "search-aria-container">
      <p class = "search-aria-sentence">特徴から探す</p>
      <div class = "popular-arias">
        <div class = "aria-info-wrapper">
          <ul class = "aria-info-list"> 
            <li class='aria-info-item'>
              <a class = "aria-info" href = "/polls">
                <img class = "aria-image" src="/media/wifi.jpeg/" />
                <p class = "aria-name">高速Wi-Fi</p>
              </a> 
            </li>
            <li class='aria-info-item'>
              <a class = "aria-info" href = "/polls">
                <img class = "aria-image" src="/media/money.jpeg/" />
                <p class = "aria-name">低価格</p>
              </a>  
            </li>
            
            <li class='aria-info-item'>
              <a class = "aria-info" href = "/polls">
                <img class = "aria-image" src="/media/meetingroom.jpeg/" />
                <p class = "aria-name">広々会議室</p>
              </a> 
            </li>
          </ul>
      
          <ul class = "aria-info-list-2"> 
            <li class='aria-info-item'>
              <a class = "aria-info" href = "/polls">
                <img class = "aria-image" src="/media/printer.jpeg/" />
                <p class = "aria-longname">充実オプション</p>
              </a>
            </li>
            <li class='aria-info-item'>
              <a class = "aria-info" href = "/polls">
                <img class = "aria-image" src="/media/dropin.jpeg/" />
                <p class = "aria-longname">ドロップイン可能</p>
              </a>  
            </li>
              
            <li class='aria-info-item'>
              <a class = "aria-info" href = "/polls">
                <img class = "aria-image" src="/media/clock.jpeg/" />
                <p class = "aria-name">24時間制</p>
              </a> 
            </li>
          </ul>
        </div>
      </div>
      <div class = "search-popular-space-container">
        <p class = "search-popular-space-sentence">おすすめから探す</p>

        <div class = "popular-space">
          <div class = "popular-space-info-wrapper">
            <ul class = "popular-space-info-list"> 
              <li class='popular-space-info-item'>
                <img class = "space-rank" src="/media/1rd_image.jpeg/" />
                <a class = "popular-space-info" href = "/polls">
                  <img class = "popular-space-image" src="/media/image1.jpeg/" />
                  <p class = "popular-space-name">space1</p>
                </a> 
              </li>
              <li class='popular-space-info-item'>
                <img class = "space-rank" src="/media/2rd_image.jpeg/" />
                <a class = "popular-space-info" href = "/polls">
                  <img class = "popular-space-image" src="/media/image1.jpeg/" />
                  <p class = "popular-space-name">space2</p>
                </a>  
              </li>
              
              <li class='popular-space-info-item'>
                <img class = "space-rank" src="/media/3rd_image.jpeg/" />
                <a class = "popular-space-info" href = "/polls">
                  <img class = "popular-space-image" src="/media/image1.jpeg/" />
                  <p class = "popular-space-name">space3</p>
                </a> 
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
