body {
  margin: 0; 
}


.main-search-container {
  height:60%;
}

.header {
  position: relative;
}

.menu-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 15px auto;
  position: absolute;
  top: 0;
  left: 0;
}

.photo {
  width: 100%;
  height: calc(50% * 5 / 3);
}

/* .title {
  position: absolute;
  top: 0;
  left: 0;
} */

.menu-bar {
  list-style: none;
  float: right;
  display: flex;
  margin: 0;
}

.menu {
  
}

.menu::before {
  content: "|";
  color : white;
}

.menu-link {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  padding:0 8px;
}

.search-box {
  display: flex;
  position: absolute;
  top: 45%;
  left: 8%;
  width: 80%;
  height:7%;
  border: solid 2px;
  background-color: white;
  padding: 2%;
}

.search-sentence {
  width: 18%;
  text-align: center;
}
.search-criteria {
  width: 26%;
}

.search-date {
  width: 13%;
}

.search-time {
  width: 9%;
}

.search-button {
  width: 8%;
  padding: 0;
}

.about-website-headline {
  text-align: center;
  font-size: 30px;
}

.about-website-sentence {
  text-align: center;
  margin-bottom: 100px;
}

.search-aria-sentence {
  text-align: center;
}

.popular-arias {
  width: 86%;
}

.aria-info-wrapper {
  /* position: absolute; */
  border: solid 1px;
  width: 100%;
  margin-left: 78px;
  margin-bottom: 80px;
}

.aria-info-list {
  display: flex;
  width: 86%;
  list-style: none;
  margin: auto;
  margin-top: 30px;
}

.aria-info-list-2 {
  display: flex;
  width: 86%;
  list-style: none;
  margin: auto;
  margin-top: 30px;
  margin-bottom:30px;
}

.aria-info {
  display: flex;
  width: 80%;
  border: solid 1px;
  margin-right: 34px; 
}

.aria-image {
  width:60%;
  height: 100%;
  margin-right :10px;
}

.search-character-sentence {
  text-align: center;
}
.character-info-wrapper {
  /* position: absolute; */
  border: solid 1px;
  width: 86%;
  margin-left: 78px;
  margin-bottom: 80px;

}

.character-info-list {
  display: flex;
  width: 86%;
  list-style: none;
  margin: auto;
  margin-top:30px;
}

.character-info-list-2 {
  display: flex;
  width: 86%;
  list-style: none;
  margin: auto;
  margin-top: 0px;

}

.character-info {
  display: flex;
  width: 80%;
  height: 65%;
  border: solid 1px;
  margin-right: 34px; 
}

.character-image {
  width:60%;
  height: 100%;
}

.character-name {
  margin-top: 35px;
  margin-left: 63px;

}

.search-popular-space-sentence {
  text-align: center;
}

.popular-space-wrapper {
  border: solid 1px;
  width: 100%;
  left: 3%;
}

.popular-space-info-list {
  width: 86%;
  list-style: none;
}

.popular-space-info-item {
  display: flex;
  height: 25%;
  margin-top: 30px;
}

.popular-space-info {
  display: flex;
  width: 80%;
  border: solid 1px;
  margin-right: 34px; 
}

.popular-space-image {
  width:40%;
  height: 100%;
  margin-right :10px;
}

.character-image {
  width: 100%;

}

.character-name  {
  position: absolute;
}
