body {
  margin: 0; 
}


.main-search-container {
  height:60%;
}

.header {
  position: relative;
}

.menu-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 15px auto;
  position: absolute;
  top: 0;
  left: 0;
}

.photo {
  width: 100%;
  height: calc(50% * 5 / 3);
}

/* .title {
  position: absolute;
  top: 0;
  left: 0;
} */

.menu-bar {
  list-style: none;
  float: right;
  display: flex;
  margin: 0;
}

.menu {
  
}

.menu::before {
  content: "|";
  color : white;
}

.menu-link {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  padding:0 8px;
}

.search-box {
  display: flex;
  position: absolute;
  top: 45%;
  left: 3%;
  width: 90%;
  height:7%;
  border: solid 2px;
  background-color: white;
  padding: 2%;
}

.search-sentence {
  width: 18%;
}
.search-criteria {
  width: 26%;
}

.search-date {
  width: 13%;
}

.search-time {
  width: 9%;
}

.search-button {
  width: 8%;
  padding: 0;
}


.aria-info-wrapper {
  position: absolute;
  border: solid 1px;
  width: 100%;
  left: 3%;
  
}

.aria-info-list {
  display: flex;
  width: 86%;
  
  
}

.aria-info-list-2 {
  display: flex;
  width: 86%;
  
}




.aria-info {
  display: flex;
  width: 300%;
  border: solid 1px;
  margin-right:34px;

 

  
}
.aria-image {
  width:60%;
  height: 100%;
  margin-right :10px;

}