.postReviewWrapper {
  width: auto;
  padding-left: 100px;
  padding-right: 20%;
  padding-bottom: 10px;
  .postButton {
    width: 10%;
    font-size: 0.875rem;
    // padding: 0px 1px;
  }
}