.resultSpace {
  display: flex;
  margin: 0 0 5% 0;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 30vh;
  border-bottom: solid;
  padding: 3%;

  .resultSpaceImage {
    width: 50%;
  }
    .spaceExplanationContainer {
      padding-left: 3%;

    }
      .spaceExplanation_first {
        font-weight: bold;
        margin-top: 0%;
        font-size: 12pt;

      }

      .spaceExplanation {
      

      }
   
  
}