.answerContainer {
  width: 15%;
  height: 100%;
  text-align: center;
  border: solid 2px;
  border-radius: 100px;
  cursor: pointer;
  &:hover {
    opacity: 0.5;
  }
  .option {
    width: 100%;
    line-height: 100%;
  }
}